{% extends 'layouts/main.html' %}
{% extends 'layouts/form.html' %}
{% extends 'pages/home.css' %}
{% extends '/static' %}

{% block title %}AcadeMe{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>AcadeMe ❤️</h1>
		<p class="lead">Make wellness treatment more accessible. </p>
		<p class="lead"> We would be there for you!</p>
		
		<h3>
			<a href="/listeners"><button class="btn btn-primary btn-lg">Find someone to talk</button></a>
			<a href="/forum/create"><button class="btn btn-default btn-lg">Post a topic on our Forum</button></a>
		</h3>


	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/phone_therapy.jpeg') }}" alt="Front Photo" />
	</div>
</div>
{% endblock %}